/* CSS Reset*/

*{
    margin: -1;
    padding: -12;
}
/* html{
    scroll-behavior: smooth;
} */

/* CSS Variables*/
:root{
    --navbar-height:59px;
}

/*  Navigation Bar */
#navbar{ 
    display: flex;
    align-items: center; 
    
    /* position: sticky;
    top: 0px; */
    
   
    /*justify-content: center; */
}

#navbar ::before{
    display: flex;
    content: "";
    background-color:rgb(128, 128, 128);
    position: absolute;
    
    top:0px;
    left:0px;
    margin: 0px;
    
    height: 04%;
    width: 150%;
    z-index:-1;
    /* opacity: 0.4; */
}

/* Navigation Bar : Logo and Image */
#logo{
    /* height:2px; */
    margin:10px 34px;
    
}
/* #logo img{

} */
#logo img {
    /* padding:15px;
    width: 100px; */
    height: 59px;
    margin:3px 6px;
    
}

/* Navigation Bar : List Styling */


#navbar ul{
    display: flex;
    font-family:initial;
    /* margin:0px px; */
    /* font-family: 'Baloo Bhai',cursive; */
}


#navbar ul li{
    
    list-style: none;
    font-size:1.3rem ;
}

#navbar ul li a{
    color:rgb(10, 10, 10); 
    font-size: larger;
    font-weight: bold;
    font-size: xx-large;
   display: block;

   padding: 3px 22px;
   border-radius: 0px;
   text-decoration: none;
   /* background:url('../whitebackground.png')no-repeat center center/cover; */
   border-radius:23px;
}

#navbar ul li a:hover{
   color: black; 
   background-color: white;
   border-radius: 23px;
}

/* Home Section */

#home{
    display: flex;
    font-size: xx-large;
    flex-direction: column;
    height:400px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url('../img4.jpeg')no-repeat center center/cover;
    position: absolute;
    top:0px;
    left:0px;
    
    height: 55.5%;
    width: 100%;
    z-index:-1;
    opacity: 0.89;
}

#home h1{
    color: rgb(25, 24, 24);
    text-align: center;
    font-weight: bold;
    font-family: 'Bree Serif',serif;
    background:url('../img7.jpeg')no-repeat center center/cover;
    
    border-radius: 23px;

}
#home p{
    color:rgb(15, 14, 14);
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
    background:url('../img7.jpeg')no-repeat center center/cover;
    
    /* font-family:serif; */
    font-family: 'Bree Serif',serif;
    border-radius: 23px;
   
}

/*Services Section  */

#services{
    margin: 44px;
    display:flex;
}
#services .box{
    border:2px solid brown;
    padding: 34px;
    margin: 2px 6px;
    border-radius: 23px;
    background-color:rgba(191, 189, 188, 0.199);
    margin-bottom: 20px;
}

#services .box img{
    border:2px solid brown;
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{

    font-family: 'Bree Serif',serif;
}
/* #services::before{
    content:"";
    position: absolute;
    width: 130%;
    height: 68.7%;
    z-index: -1;
    text-align: center;
    font-size: 1.5rem;
    opacity: 0.7;
    background: url('../bg3.jpg')no-repeat center center/cover;
} */

/* Client Section */
#client-section{
   height:344px;

}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../img1.jpg')no-repeat center center/cover;
    padding: 178px;
    width: 89%;
    height:0.0001px;
    z-index: -1;
    opacity: 0.4;
}
#client{
    display: flex;
    justify-content: center;
    align-items: center;
}
#client img {
   height: 130px;
}
.client-item{
    padding: 40px;
}

/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content:"";
    position: absolute;
    width: 120%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg')no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:34px ;
}

/* #contact-box input{

} */

#contact-box textarea{
    width:100%;
    padding:0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box input{
    width: 40%;
}

#contact-box label{
    font-size:1.3rem;
    font-family: 'Bree Serif', serif;


}

#contact-box form{
   width: 40%;
   

}

#contact-box form{
  font-size: 1.3 rem;
  font-family:'Bree Serif',serif; 
  font-weight: bold;
 }


footer{
    background-color: black;
    color: white;
    /* padding: 4px 10px; */
    width: 105%;
    height:40%;
   
    /* align-items: center; */
}
/* Utility Classes */
.h-primary{
    font-size: 3.8rem;
    font-weight: bolder;
    padding: 12px ;
    /* color: rgb(26, 26, 18); */
}

.h-secondary{
    font-size: 2.8rem;
    /* font-weight: bolder; */
    padding: 12px ;
    /* color: rgb(16, 16, 14); */
}

.btn{
    padding: 6px 20px;
    border:2px solid white;
    background-color: rgb(225, 44, 20);
    font-size: 1.2rem;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    margin: 17px;
    cursor: pointer;

}
.center{
    text-align: center;
}


